@font-face {
  font-family: "LibarationSerif";
  src: url("./LiberationSerif-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "LibarationSerif";
  src: url("./LiberationSerif-Bold.ttf");
  font-weight: 700;
}
